* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(63, 65, 68);
  font-family: "Segoe UI";
}

h1 {
  color: white;
  text-align: center;
  margin: 20px;
}

h2 {
  color: white;
  margin: 20px 0 10px 0;
}

.cointainer {
  width: calc(5rem * 23);
  margin: auto;
}

.keyRow {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  height: 5rem;
}

.key {
  word-spacing: 5rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  outline: 1px black solid;
}

.functionKeyRow {
  margin-bottom: 30px;
}

.keyHalfSpacer {
  height: 2.5rem;
  width: 2.5rem;
}

.backspaceKey {
  width: 10rem;
}

.tabKey {
  width: 7.5rem;
}

.capsKey {
  width: 9rem;
}

.returnKey {
  width: 11rem;
}

.shiftLeftKey {
  width: 11rem;
}

.shiftRightKey {
  width: 14rem;
}

.spaceKey {
  width: 33rem;
}

.spaceRowKeys {
  width: 6rem;
}

.numZeroKey {
  width: 10rem;
}

.numLongKey {
  height: calc(10rem + 10px);
  z-index: 5;
}

.lowUse {
  background-color: /* #1984c5 */ #d7e1ee !important;
}

.lowMidUse {
  background-color: /* #63bff0 */ #bfcbdb !important;
}

.midUse {
  background-color: /* #e2e2e2 */ #a4a2a8 !important;
}

.highMidUse {
  background-color: /* #de6e56 */ #c86558 !important;
}

.highUse {
  background-color: /* #c23728 */ #991f17 !important;
}

.insaneUse {
  background-color: #c706ce !important;
}

.legendColorBox {
  display: block;
  height: 1rem;
  width: 1rem;
  outline: black 1px solid;
  background-color: white;
  margin: 10px;
  margin-left: 0;
}

.legendElement {
  display: flex;
  align-items: center;
  justify-content: left;
}

.legendElement span {
  display: block;
  margin-bottom: 1px;
  color: white;
}

.strokeText {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
